# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master
- dev/*

variables:
  AgoraiOSMode: 'Debug'

jobs:

#- template: AgoraLive-Android/build-templates/build-release.yml
#  parameters:
#    project: 'AgoraLive-Android'
#    name: 'AgoraLive_Android'
    
- template: AgoraLive-iOS/Build/azure/build.yml
  parameters:
    displayName: 'AgoraLiveiOS'
    mode: $(AgoraiOSMode)
  
