<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.vlive">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".AgoraLiveApplication"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.live.MultiHostLiveActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.live.SingleHostLiveActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.live.HostPKLiveActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.live.LivePrepareActivity"
            android:screenOrientation="portrait"
            android:keepScreenOn="true"/>

        <activity android:name=".ui.profile.ModifyUserNameActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
